body {
    background-color: lightgray;
    font-family: monospace;

}
.menu_ul{
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    font-family: monospace;
    font-size: 18px;
    color: #606060;
}
.menu_li {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    display: inline;
    margin-right: 10px;
}
